body {
  font-family: Arial, sans-serif;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  background: #f9f9f9;
  line-height: 1.6;

}

h1 {
  color: #2c3e50;
  margin-bottom: 10px;
}

h2 {
  color: #34495e;
}
nav {
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: #2c3e50;
  margin-right: 10px;
}

nav a:hover {
  text-decoration: underline;
}
