* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
  color: #222;
}

/* ÜST MENÜ */
nav {
  text-align: center;
  padding: 20px 0;
}

nav a {
  text-decoration: none;
  color: #1d4ed8;
  font-weight: bold;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

/* ANA ALAN */
.container {
  max-width: 900px;
  margin-left: 5cm;   /* 5 cm boşluk */
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 60px;

  padding: 40px;
  background: #ffffff;
}



/* BAŞLIKLAR */
h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 26px;
}

/* PARAGRAFLAR */
p {
  max-width: 700px;
  margin: 10px auto;
  line-height: 1.6;
}

/* FORM */
.form-box {
  max-width: 650px;
  margin: 30px auto;
}

/* İLETİŞİM */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-top: 10px;
}

/* FOOTER */
footer {
  margin-top: 60px;
  font-size: 14px;
  color: #666;
}


